.Products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 50vh;
    justify-content: space-evenly;
    margin-top: 5%;
}

@media (max-width: 768px) {
    .Products {
        grid-template-columns: repeat(1, 70%);
        grid-template-rows: 80vh;
    }
}