html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: BeVietnam;
    src: url('./assets/fonts/BeVietnam-ExtraBold.ttf');
    font-weight: 900;
}

@font-face {
    font-family: BeVietnam;
    src: url('./assets/fonts/BeVietnam-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: BeVietnam;
    src: url('./assets/fonts/BeVietnam-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: BeVietnam;
    src: url('./assets/fonts/BeVietnam-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: BeVietnam;
    src: url('./assets/fonts/BeVietnam-Thin.ttf');
    font-weight: 300;
}

.loading {
    background-color: #f7f5f5;
    background: linear-gradient(100deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(237, 237, 237, 0.734) 50%,
            rgba(255, 255, 255, 0) 60%) #f7f5f5;
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}